[2015-09-28 09:37] CircleCode opened #2 "Choose an IRC Logger"
we made the decision during Hoa Apex'15 to use an IRC logger to keep track of discussions, and have the ability to search through them.

the logger must have these features:
*   be light
*   be robust
*   offer a web IHM
*   the web IHM must be searchable
*   do some mail obfuscation

### Criterias

These questions are some points that can be used as a basis for our choice. This is not an exhausti

[2015-09-28 09:40] Jir4 commented on #2
Maybe it might be interesting to have a notification when something happens during the night, we also have to specify in the topic of the main channel our time zone as we said yesterday

[2015-09-28 10:01] CircleCode commented on #2
I considered several daemons.

I first restricted my search to php daemons, but only a few seem light and robust. Then I extended my search, and here is the candidate I found:

https://github.com/moritz/ilbot
-   written in perl
-   maintained
-   in use on several channels
-   62 :star: on GH

@Pierozi what do you think about the stack required for ilbot, would you consider installing it on our i

[2015-09-28 10:05] Jir4 commented on #2
@CircleCode i don't really understand why upgrade Marvirc can not be achieved in a short time.

[2015-09-28 10:09] thehawk970 commented on #2
I think in the night :p

So Marvirc (or other) can log when we are mentionned **and** offline.
And notify us when we connect , as a little report like an answering machine.

[code]

@Jir4: +1

[2015-09-28 10:51] Hywan opened #3 "Administration panel for isso"
We need an administration panel for [isso](http://posativ.org/isso/), our comment application.

[2015-09-28 10:58] Hywan opened #4 "Propose the administration panel for isso to isso"
Depends on #3.

Because we love open-source, we don't want to do something only for us, and because doing something public makes it better, we would like to propose the administration panel for isso to isso.

#### Tasks

- [ ] Create an issue to see if they are interested
- [ ] If they are, discuss about the lead and the hosting
- [ ] Finally, promote it

[2015-09-28 11:01] Hywan opened #5 "Administrator for the comments"
Depends on #3.

During Hoa Apex 3rd edition, @camael24 and Cyrano proposed themselves as moderators. I agree with that.

However, Cyrano needs a Github account.

#### Tasks

- [x] @camael24, please, could you ask Cyrano to create a Github account?
- [x] When done, we must include it in the @hoaproject/hoackers team.

[2015-09-28 11:03] vonglasow commented on #2
@Jir4 @camael24 +1 aggreed with improve marvirc. We just need to log each line and it's easy because marvirc already read it the "only" thing to do is to know where to store it and how this will be searchable. For the web IHM a searcher like this we have in hoa-project looks good.

[2015-09-28 11:04] Jir4 commented on #2
I dont think we are mentionned when we are offline, users ping someone in the channel.

[2015-09-28 11:05] Hywan opened #6 "Machines we need"
In Hoa Apex 3rd edition, we discussed about our needs regarding machines.

We need 2 machines:
1. Web services, mail and search,
2. CI.

I am writing it here for the history.

[2015-09-28 11:06] CircleCode commented on #2
@camael24 the idea is to log **everything** so that we can search later.
for mentions, I think this is not te role of the logger, but rather the role of a bouncer, or another Marvirc plugin. but the only role of the logger must be to… log everything

@Jir4 my assumption was that if this exists, wa can spend time on other features. But if someone wants to write such a feature in Marvirc, one could

[2015-09-28 11:10] Hywan opened #7 "Restore mailing-lists and mails"
We need to restore mailing-lists and mails services.

Mails belong to the “infrastructure” label and mailing-lists belong to the “service” label.

[2015-09-28 11:10] vonglasow commented on #2
@CircleCode: The goal was not to add it on the actual search engine but take it as source to do another one dedicated to the log. Why do you need obfuscation for this logging ? Everything is public on IRC. We have nothing to hide :d

[2015-09-28 11:12] Hywan opened #8 "Create the notifications@lists.hoa-project.net ML"
Depends on #7.

A notification ML is needed to spread “events” in a centralized way. This is a technical ML, for the infrastructure, CI etc., no a “public” one.

#### Tasks

- [ ] Create the `notifications@lists.hoa-project.net` ML.

[2015-09-28 11:16] Pierozi commented on #2
:+1:  for Marvirc but like @CircleCode said, only for logger.
Like it's lot of data, I think the better solution are to store in text file, one per each day.
Easy to read and write by stream and make a dedicated page on hoa-project.net.

[2015-09-28 11:16] CircleCode commented on #2
@vonglasow when you write your mail on IRC, you know that only people present at this time will read it. when this is logged, it means that this is "on the internet" and can be accessed later by anybody. So we need mail obfuscation

[2015-09-28 11:16] Hywan opened #9 "AWS or Azure?"
We are going to move our machines in the “cloud” (ouahh). So we have to decide whether we are going for AWS for Azure. Discuss here and explain pros/cos.

#### Tasks

- [x] Why AWS (@Pierozi)
- [x] Why Azure (@Hywan)

[2015-09-28 11:18] CircleCode commented on #2
@Pierozi like always, good point: if we have text files in a "first version", it seems sufficient. Search and some other features can be added later to the website through another issue.

[2015-09-28 11:18] Hywan opened #10 "Backup strategy"
We have to define a backup strategy. So far, this is not clear and it changes often.

#### Tasks

- [ ] Define a backup strategy.

[2015-09-28 11:19] Hywan opened #11 "New machines with at least 1 service online"
Our goal is to get new machines up and running with at least 1 service online shortly.

#### Tasks

- [ ] New machines online with at least 1 service online.

[2015-09-28 11:22] Hywan opened #12 "How to optimize ElasticSearch"
Our search service is based on [ElasticSearch](https://www.elastic.co/). This application likes to eat memory. We need to optimize it.

Original author of ES instance: @GuillaumeDievart.

#### Tasks

- [ ] Optimize ElasticSearch resources.

[2015-09-28 11:22] Hywan commented on #12
@K-Phoen is responsible to lead this project.

[2015-09-28 11:24] Hywan opened #13 "Find a “foundation application”"
We need a “foundation application” to manage the list of subscriptions, cotisations & co.: All the services around a foundation.

Both a heavy application or a web-application are acceptable. Only constraints: Being open-source.

#### Tasks

- [x] Find a “foundation application”.

[2015-09-28 11:25] Hywan opened #14 "Open a bank account for the foundation"
We need a bank account for the foundation.

#### Tasks

- [ ] Open a bank account for the foundation,
- [ ] Get a credit card,
- [ ] Get online listings and actions.

[2015-09-28 11:25] osaris commented on #13
I'll have a look soon but I also ping @CircleCode because he looks to have some references yesterday.

[2015-09-28 11:26] CircleCode opened #15 "Deploy IRC logger"
Depends on #2.

IRC logger has to be deployed in our infrastructure.

#### Tasks

- [x] Install logger and connect it to #hoaproject,
- [x] Make logs available through the website.

[2015-09-28 11:27] CircleCode commented on #15
@Pierozi is leader on this issue since there is something to install on the servers, but the website part can be achieved by someone else (@pierozi: feel free to reaffect when required)

[2015-09-28 11:27] Hywan opened #16 "Shops to sell goodies"
We need to sell goodies. We do not want to host a selling application. We need to find one or many shops online to sell goodies.

#### Tasks

- [x] Open shops to sell goodies,
- [x] Define at least 1 goody per shop,
- [ ] List shops on the website.

[2015-09-28 11:32] Hywan commented on #2
Marvirc is a good choice but… what about an external service? We do not want to host everything… And if we use Marvirc, we need to write the web interface, the search engine etc. ourselves.

[2015-09-28 11:34] CircleCode commented on #2
@Hywan that was my point when I suggested to use http://colabti.org/ilogger2/IrcLogger2.html (the only requirement is to ask to be logged…!)

[2015-09-28 11:35] Pierozi commented on #15
@CircleCode Roger :radio:

[2015-09-28 11:37] osaris commented on #14
I remembered that my sister told me that his bank (Credit Agricole) can open a bank account for an association with no fee if we have no credit authorized. I asked her few precisions right now but if we can open a bank account for the association (not with my name) it'll be easier for the future (what happens when the treasurer change ?).

I'll keep you informed.

[2015-09-28 11:39] Savageman commented on #13
A good start for the research is [this page](http://wiki.april.org/w/Logiciels_de_Gestion_D'Association_%28GDA%29) from the APRIL association (french evangelists).

[2015-09-28 11:40] Hywan opened #17 "New usage for `README.md`"
We need enhanced `README.md` for each library (with more information in it).
We also need to use `README.md` when the documentation is not written yet.

#### Tasks

- [ ] Enhance `README.md`,
- [ ] Use `README.md` instead of documentation when this latter is not written yet.

[2015-09-28 11:40] osaris commented on #13
@Savageman +1 I found it yesterday and it looks great.

[2015-09-28 11:46] #6 closed

[2015-09-28 11:51] Hywan commented on #2
http://colabti.org/ilogger2/faq.html

:-(
#privacy

[2015-09-28 11:53] Hywan commented on #14
No credit card? That's blocking, isn't it?

[2015-09-28 11:55] osaris commented on #14
No credit.

[2015-09-28 11:56] osaris commented on #14
Overdraft ?

[2015-09-28 11:57] thehawk970 commented on #5
I just send an Twitter direct message to Cyrano

[2015-09-28 12:01] maitrepylos commented on #13
http://galette.eu galette un outil de gestion d'assoc tester avec Atoum, on pourrais peut-être même contribué ? ps: j'ai piqué l'idée chez Grummfy ;)

[2015-09-28 12:10] CircleCode commented on #2
@Hywan that was the concern I had (see <a href="#issuecomment-143698527">my comment</a>) … btw, I think they are trustable

[2015-09-28 12:22] thehawk970 commented on #5
Le compte de Cyrano est @Cyrano24

[2015-09-28 12:40] Jir4 commented on #5
So we can call the moderators team, the 24 crew ?

[2015-09-28 13:24] GuillaumeDievart commented on #12
Hi,

actually, we have 141 documents indexed in es.

disk usage: 172MB (nGram tokenizer (3-20))
memory usage: 142MB (heap)

@K-Phoen if you want, I can give you an access to Elastic HQ, where you could found all stats about the current instance.

[2015-09-28 13:26] osaris commented on #13
@maitrepylos je ne vois pas beaucoup de tests dans le dépôt :-/ http://git.tuxfamily.org/galette/galette.git/tree/galette (et le code est ... comment dire... bref)

[2015-09-28 13:32] maitrepylos commented on #13
Ben c'est marqué dans la page d'accueil du site que le code est bof ;) Bon maintenant si c'est un critère t'es difficile :)

[2015-09-28 13:34] osaris commented on #13
@maitrepylos ça donne quand même une info sur la pérennité de l'app, si le bidule ne tourne plus sur PHP7 (par ex) on aura bien l'air malin si on a investi un peu de temps pour configurer etc...

[2015-09-28 14:19] Hywan commented on #5
@Cyrano24 has been invited into @hoaproject/hoackers team.

[2015-09-28 14:20] #5 closed

[2015-09-28 14:20] jemdev commented on #5
ok, connected now

[2015-09-29 06:15] Hywan commented on #2
@CircleCode They are not trustable until we can see their code :-].

[2015-09-29 06:16] Hywan commented on #14
@osaris I would prefer to avoid :-/.

[2015-09-29 06:21] osaris commented on #14
@Hywan sorry, I mean "no credit authorized" means "no overdraft authorized" so what is the problem ?

[2015-09-29 06:34] Hywan commented on #14
Oh ok. I understood no credit card. So everything is fine :-). No overdraft.

[2015-09-29 07:18] Jir4 commented on #2
@Hywan :+1:

[2015-09-29 07:43] CircleCode commented on #2
@Hywan @Jir4 so the external service is no longer an option.
We still have to choose between ilbot (already written, robust, but not fitting our needs at 100%) and adding log functionnality to Marvirc (can be achieved in several steps, but time consuming and it requires someone to work on it).

Thoughts?

[2015-09-29 07:44] thehawk970 commented on #2
@CircleCode  +1 :clap:

[2015-09-29 07:46] Hywan commented on #2
@CircleCode We can use an external service that we trust because open sourced. Does it exist? We can ask on Twitter too. Make a tweet and the @hoaproject account will RT it.

[2015-09-29 08:17] Grummfy commented on #9
Like I said in apex, I cantact the guy of Azure (the european evangelist of azure). Now they want to contact me by skype. I can explain what we need, but if @Pierozi prefer to speak with him directly is fine too.

[2015-09-29 08:20] Grummfy commented on #13
To choose the right tool, check the functionnalities and what we need and if it work. Don't check the code, overall you will need to dev yourself a new tool.
- galette is well known
- http://fr.grisbi.org/
- many thing can be found on http://framasoft.net/rubrique438.html

[2015-09-29 08:21] maitrepylos commented on #13
Note que si tu trouves que le projet remplis tes besoins, je veux bien le tester sur PHP7.

[2015-09-29 08:58] Hywan commented on #9
@Grummfy Can you invite him here? On the discussion? Our prerequisite are:
- 2 or more machines,
- Free (remind we have a “They support us” section and we promote our sponsors often),
- In Europe but not in France nor UK (preferably in Germany or Switzerland),
- IPv6.

RAM and HDD are modular in the cloud configuration so it's fine.

[2015-09-29 09:00] Grummfy commented on #7
For information, about mail I find this tool : http://www.dovecot.org/

[2015-09-29 09:01] thehawk970 commented on #9
The pricing free, imho is not an obstacle.
We must not stop at this detail.

[2015-09-29 10:51] Pierozi commented on #9
@Grummfy we need is a full access to our dedicated account for manage ourself the instance, network rules... Expect that up to you to talk with him or invite here in the best.

[2015-09-29 11:16] Hywan commented on #12
It can be useful, maybe, don't know: http://blog.adrien-gallou.fr/2015/09/21/pertinence-elasticsearch.html, by @agallou.

[2015-09-29 11:32] Pierozi commented on #7
@Grummfy dovecot is an IMAP server, actually it's what we used on last server...

[2015-09-29 12:01] GuillaumeDievart commented on #12
I already read this great article ! But, it targets only the relevance, nothing about the memory usage.

And, I said you, you should not have a problem about memory with 150 articles.

[2015-09-29 13:12] K-Phoen commented on #12
Same here, I don't think that the number of documents will be a problem but if needed we'll keep an eye on the global memory consumption (documents + server itself).

I'll try to replicate on my machine the elasticsearch setup used by Hoa (with the same documents) to experiment on the memory usage and to have numbers to give @Hywan and @Pierozi. This should help them to determine their needs in "s

[2015-09-29 13:20] Pierozi commented on #12
Thanks @K-Phoen that should be helpful because i didn't' know much about `elasticsearch` consumption

[2015-09-29 13:26] Hywan commented on #12
@GuillaumeDievart Could you put here the URLs of the search code repository please?

[2015-09-29 13:26] GuillaumeDievart commented on #12
Hi @K-Phoen,

you have just to clone this repo https://github.com/GuillaumeDievart/Hoa-Search and to create the analyzer via the cmd Data/Bin/Init.php, then you can run the crawler.

Careful, this configuration has been created in May 2014, there are maybe few change since (on the es version).

I think, you can check the analyzer and mapping (auto, without boost, adjust analyzer by language ...),

[2015-09-29 13:28] Hywan commented on #12
@GuillaumeDievart Hope you understand that we would like to get eveything packed in the same place? We still want you on board!

[2015-09-29 13:36] GuillaumeDievart commented on #12
Yes, I understood,

"We still want you on board!"

@Hywan I hope !! ;)

[2015-09-29 13:36] K-Phoen commented on #12
@GuillaumeDievart awesome!
I'll play with it when I have some free time :)

[2015-09-30 12:11] CircleCode commented on #2
@Hywan I'll be in vacation for 15 days, and do not use twitter as often as I used to.
I think it would be better if the tweet comes from hoa account (by mentioning my account)

[2015-09-30 12:17] Savageman commented on #6
(added for reference) CI needs a 2nd machine because it needs **a lot** of VMs (see http://keynote.hoa-project.net/HoaApex14-2/HoaApex14-2.html#25.0)

[2015-09-30 12:19] Hywan commented on #2
https://twitter.com/hoaproject/status/649196830459301888

[2015-09-30 12:42] Grummfy commented on #6
well someone speak about having a linux and a windows machine for the ci...

[2015-09-30 13:35] CircleCode commented on #2
answering here about WildPHP/Wild-IRC-Bot (new version of wildphp.com/simple-irc-logger mentioned by @Cyrano24): I looked at it, but it seems to much for our needs (we only want a logger, and we already have Marvirc for other bots' tasks)

[2015-09-30 14:01] Hywan commented on #6
@Grummfy We will start with Linux machines first. We can have Windows inside VM, this is not an issue. Mac OS X will be an issue though.

[2015-09-30 19:46] Grummfy commented on #2
https://botbot.me/ => https://github.com/BotBotMe

[2015-10-01 06:21] Hywan commented on #2
@Grummfy w00t, love it! Trusted by Rust. I made a quick audit of the code, looks code. The web interface is really neat and polished, love it.

[2015-10-01 07:30] Grummfy commented on #2
Yep, me too love the interface ;)

[2015-10-01 07:46] Jir4 commented on #2
:+1:

[2015-10-01 07:51] CircleCode commented on #2
@Hywan, @Grummfy love it too, seems reliable (and I had no skill to _audit_ the code, but I trust Hywan's   judgment)
If we choose botbot, I'd just have a few questions for them, like:
- can we use logging only, and no other feature of their bot
- what if we, for example, put a password on the channel? (can we ask for deletion of some parts of the logs?)
- does the logger obfuscates mails?
- is th

[2015-10-01 08:33] Hywan commented on #9
Pros for Azure so far:
- [2 regions in Europe](https://azure.microsoft.com/en-us/regions/#services) (Ireland and Netherlands),
- Environmental sustainability,
- [CDN](https://azure.microsoft.com/en-us/services/cdn/),
- Actually… a huge number of [services](https://azure.microsoft.com/en-us/regions/#services), most of them available in Europe.

I used the calculator to see get an idea of how it wor

[2015-10-01 08:37] Hywan commented on #2
@CircleCode
- What other features are you talking about? They just use `!m` which is an IRC convention to reward someone.
- For the password, I have no idea. Let's try (or ask)?
- Obfuscates emails, let's ask yes.
- Turn it off temporary, let's ask.

They are on Freenode if I mind correctly. I will ask today if nobody does it.

[2015-10-01 08:40] CircleCode commented on #2
@Hywan maybe you can ask'em on freenode to answer here so that we keep an history, and discuss with them here

[2015-10-01 08:42] CircleCode commented on #2
@Hywan by other features, I was speaking about their [plugins](https://github.com/BotBotMe/botbot-plugins)

[2015-10-01 09:16] Hywan commented on #9
Actually this is the Free plan but it's not free. See here for VM pricing details: https://azure.microsoft.com/en-us/pricing/details/virtual-machines/.

[2015-10-01 09:28] Hywan commented on #2
@CircleCode As far as I know, we are not required to install these plugins. I am going to ask.

[2015-10-01 09:30] CircleCode commented on #2
@Hywan if we choose the hosted service, there is no "installation": we just ask'em to make their bot instance join our channel. In this cas, the meaning of my question was: “can they disable plugins on a per channel basis”

[2015-10-01 09:30] Hywan commented on #2
@CircleCode We can just don't use them ;-), but good point.

[2015-10-01 09:34] CircleCode commented on #2
@Hywan

My concern is about having 2 bots on the chan. I want it to be clear that the botbot one is only here for logging so that we can replace it by another one if we decide it later.

This leads me to another question: is there a way to get the logs back (for example in txt files) at any time?

[2015-10-01 09:37] Hywan commented on #2
@CircleCode Please, write all questions in the description comment.

[2015-10-01 09:44] Hywan commented on #9
Funny article: https://azure.microsoft.com/en-us/campaigns/azure-vs-aws/.

[2015-10-01 10:17] Hywan commented on #16
I am planning to open 2 shops:
- UnixStickers,
- Spreadshirt.

[2015-10-01 12:02] CircleCode commented on #2
@Hywan done :-)

[2015-10-01 12:41] Grummfy commented on #2
for info on #mongodb chan they put comment when you come on the channel saying that everything is logged :)

[2015-10-01 13:11] LeoVerto commented on #2
@Hywan We've recently started using BotBot as our new @metabrainz chat logger and have been pretty satisfied so far.

While it didn't do the actual setup, it seemed to be pretty easy. The bot is mainly developed for running on botbot.me with public account creation so we recently decided to [fork](https://github.com/metabrainz/botbot-web) the -web part (logger and webinterface) and are planning to

[2015-10-01 13:43] Jir4 commented on #16
I agree with both

[2015-10-01 14:02] Savageman commented on #9
I tried both services once and stayed with AWS because Azure had capped IOPS based on the size of the VM (so small VMs had really bad disk performance).

Since then I use AWS and has some experience with it if you need help.

They also have 2 regions in Europe (Ireland and Frankfurt) and tons of services (database, transactional e-mails, queue, CDN, DNS, ...).

Almost all their services have a [fr

[2015-10-02 09:22] thehawk970 commented on #16
me too

[2015-10-02 10:41] Hywan commented on #2
@LeoVerto Thank you for your feedback!

[2015-10-06 07:30] Grummfy opened #18 "Stats on waffle.io"
Here is the answer about the stats of waffle : https://github.com/waffleio/waffle.io/issues/2110#issuecomment-145686222

[2015-10-06 15:41] Freso commented on #2
I came here to write pretty much exactly what @LeoVerto wrote. :) Anyway, as has been mentioned, there's also the possibility of using https://botbot.me as a service to publicly log the channel for you, instead of having to deal with running your own instance. You asked a couple of questions about this earlier, and maybe I can provide reasonable answers:
- Can you enable/disable plugins on a per-c

[2015-10-06 22:11] Pierozi commented on #2
Thanks both @LeoVerto & @Freso for sharing your experience, it's really appreciate.

@BotBotMe are pretty good, write in Go, good choice for this appliance, and light in consumption.
Dependences are PostgreSQL and Redis ( :clap: ) both light to install and handle.

[2015-10-07 06:45] Hywan commented on #18
@Grummfy There is one pending question there. Please, can you re-open the issue?

[2015-10-07 07:27] Hywan commented on #2
@Pierozi Because, you imagine installing it on our own servers?

[2015-10-07 08:38] harikt commented on #2
Regarding the bot , no one seems mentioning https://github.com/phergie .

[2015-10-07 08:52] Jir4 commented on #2
@harikt because we look for a logger and not for a bot

[2015-10-07 09:22] harikt commented on #2
ok, Thanks for clarifying.

[2015-10-08 17:16] osaris commented on #14
So here are the news from my sister working @CreditAgricole. We can have an account for the foundation (not at my name, at the name of the foundation). There is no fee for the account and ebanking. There is a 45.60€ per year fee for a Mastercard for online payment.

I think that its a good solution because :
- the account is at the name of the foundation (so no problem if somebody else is the trea

[2015-10-08 17:55] Hywan commented on #14
👍👍👍

[2015-10-10 09:29] Pierozi commented on #10
Backup strategy will depend where we will backup the data.

By example, if we choose AWS, we can backup data on S3 bucket (aws storage)
with a full scripted rsync backup for each services.

[2015-10-13 05:34] Hywan commented on #13
Still 2 days left :-). Tic tac, tic tac :clock11:.

[2015-10-13 05:34] Hywan commented on #3
Still 2 days left :-). Tic tac, tic tac :clock11:.

[2015-10-13 05:34] Hywan commented on #4
Still 2 days left :-). Tic tac, tic tac :clock11:.

[2015-10-13 05:56] Hywan commented on #10
So this is linked to #9.

[2015-10-13 16:59] osaris commented on #14
So ? :)

[2015-10-13 19:09] Hywan commented on #14
Go :-).

[2015-10-13 19:30] osaris commented on #13
Little review of a selection extracted from the [APRIL page](http://wiki.april.org/w/Logiciels_de_Gestion_D'Association_%28GDA%29) :
- Dolibarr : http://www.dolibarr.fr

An ERP with some foundation modules but seems really overkill for me.
- Galette (by tuxfamily - Git : http://git.tuxfamily.org/galette/galette.git/tree/)

Nearly impossible to find a working website so ...
- GestAssoPhp : http://g

[2015-10-13 19:34] osaris commented on #14
Let's go !

[2015-10-14 11:42] Hywan commented on #13
Dolibarr looks to be the best one, isn't it :-)?

[2015-10-14 12:53] Jir4 commented on #13
Seems good to me, after a quick look, i saw that we can enable only the features we need.

[2015-10-14 13:07] Hywan commented on #13
Perfect! Typically, we don't want calendar since we have sabre/katana on dav.hoa-project.net, so having them on Dolibarr is totally useless.

[2015-10-14 20:14] osaris commented on #13
Well I think it's overkill but If you think it is what we need, I just say "why not" ;-)

[2015-10-14 21:07] Pierozi commented on #3
- [x] List Comments
- [x] List Articles
- [x] Delete Comments
- [ ] Edit Comments

[2015-10-15 05:35] Hywan commented on #13
@osaris If you think this is overkill, so it's up to you to decide. You are the one who will use this software the most. The final decision belongs to you.

[2015-10-15 05:36] Hywan commented on #3
@Pierozi: I have updated the comment description (to reflect the progression). Would be great to see “comments without any replies” for instance.

[2015-10-15 05:37] Hywan commented on #3
@Pierozi If I am writing a comment and someone reply to it, do I receive a notification? I don't think so. This could be very interesting I guess. Thought?

[2015-10-15 07:40] maitrepylos commented on #13
@osaris déjà que tu te plains du code de Galette...regarde celui de Dollibar ;)....mais bon si tu as besoin j'ai déjà créé des modules pour ce produit.

[2015-10-15 20:25] osaris commented on #13
@Hywan we have a very small volume for the moment so we can go with Dollibar and move away if we discover real problems.

So, next step is to setup Dollibar on our servers ?

[2015-10-16 18:08] Hywan commented on #13
Yup. You have access. Go :-]. foundation.hoa-project.net?

[2015-10-16 18:13] maitrepylos commented on #13
Hum... 404 Not Found :p

[2015-10-19 06:49] Hywan commented on #13
@maitrepylos That's a proposal URL…

[2015-10-22 09:25] CircleCode opened #20 "consider php alternatives to Isso"
according to https://framasphere.org/posts/1161033, there is

*   [HashOver](http://tildehash.com/?page=hashover)
*   [jskomment](https://github.com/monperrus/jskomment)
*  [ Commentics](https://www.commentics.org/)

[2015-10-26 14:35] Hywan commented on #13
We are late here but not for the hardest part. @osaris is installing the application on the server, so it's fine! Keep going!

[2015-10-26 14:36] Hywan commented on #4
@Pierozi Any news? Would you like to postpone to the next milestone (in a couple of days)?

[2015-10-26 14:36] Hywan commented on #3
Any news?

[2015-10-26 14:38] Hywan commented on #2
I sent a request to botbot.me:
![screen shot 2015-10-26 at 15 37 48](https://cloud.githubusercontent.com/assets/946104/10731841/8e60eb3e-7bf7-11e5-80c3-264ccfe9dab6.png)

[2015-10-26 14:39] Hywan commented on #2
We have no “request ticket”, so we cannot follow up the progression. Waiting.

[2015-10-26 15:27] Hywan commented on #14
I receive all the required document list. Will take few days before gathering everything.

[2015-10-27 15:27] Hywan commented on #16
# UnixStickers

http://www.unixstickers.com/tag/hoa

<img width="570" alt="screen shot 2015-10-27 at 16 27 29" src="https://cloud.githubusercontent.com/assets/946104/10762766/a5c1406e-7cc7-11e5-9fe0-8a599dcbe70b.png">

# SpreadShirt

https://shop.spreadshirt.fr/hoaproject (products may appear in a couple of hours)

<img width="315" alt="screen shot 2015-10-27 at 16 28 32" src="https://cloud.github

[2015-10-27 15:55] Jir4 commented on #16
Did hoa get a tip on each sales ?

[2015-10-28 07:09] Hywan commented on #16
@Jir4 According to the shop, yes. For UnixStickers, we don't get anything. However, they send us stickers when we need some of them. For SpreadShirt, I have declared a tip of 5€ per product.

[2015-10-28 07:16] Hywan commented on #16
@osaris For SpreadShirt, for the bill, I use your names and postal address, since you're the treasurer of the foundation. Do you agree?

[2015-10-28 07:20] Hywan commented on #16
@osaris Forget what I said.

I have created a `foundation@` email redirection (to mine), and I set the legal information of our SpreadShirt's shop to the foundation name and postal address.

[2015-10-28 08:57] Jir4 commented on #16
The foundation postal address is the @CircleCode one isn't it ?  I remember something like a move.

[2015-10-28 09:53] Hywan commented on #16
@Jir4 Yes, we use its postal address. And yes, he is moving, so we must remind to update several references.

[2015-10-28 09:57] Jir4 commented on #16
:+1: so now we have a reminder in this topic \o/

[2015-10-30 18:34] CircleCode commented on #2
@Hywan so you decided a hosted BotBot.me.
I agree with this choice (sorry for the late answer, I was on holidays), but I really think that once Marvirc has logger feature ( Hywan/Marvirc#5 ), we will have to switch to it (so that we can "manage" everything).
Until this is done, a hosted solyution seems to be the best.
Btw, remember botbot offers a lot of functionalities, and can be conflictuous wi

[2015-11-01 16:13] Hywan commented on #2
@CircleCode We can just avoid to talk to BotBot.me and everything is going to be fine. I didn't choose anything, it was apparently the main choice :smiley:.

[2015-11-02 08:47] Hywan commented on #18
ping?

[2015-11-02 08:48] Hywan commented on #3
ping?

[2015-11-02 08:48] Hywan commented on #4
ping?

[2015-11-02 08:48] Hywan commented on #10
ping?

[2015-11-02 10:15] Hywan commented on #16
http://hoa-project.com/ is live.

[2015-11-02 13:25] #16 closed

[2015-11-02 13:25] Hywan commented on #16
Done!

[2015-11-03 20:11] Grummfy commented on #18
this what I got, just now ...

[2015-11-04 08:20] osaris commented on #13
Thanks to @Pierozi the app is now running on http://foundation.hoa-project.net

I'll take some time to configure it so we can leave this issue open until I finished.

[2015-11-04 09:59] Hywan commented on #18
So we must ask anytime we would like some stats? Cool :-p.

[2015-11-04 09:59] #18 closed

[2015-11-04 09:59] Hywan commented on #18
Than you for your time @Grummfy!

[2015-11-04 10:00] Hywan commented on #13
@osaris, @Pierozi: :+1:!

[2015-11-04 10:01] #2 closed

[2015-11-04 10:01] Hywan commented on #7
Any news about this task? This is the most important one for November I guess.

[2015-11-04 15:02] Hywan commented on #15
https://botbot.me/freenode/hoaproject/

[2015-11-04 15:03] #15 closed

[2015-11-04 18:11] osaris opened #21 "Update #hoaproject IRC channel topic to mention its logged"
We need to update the #hoaproject IRC channel topic to mention its logged and provide a link to the botbotme page (https://botbot.me/freenode/hoaproject/). The URL can be shortened. This is required by Freenode terms of service.

[2015-11-05 06:51] Hywan commented on #21
@osaris https://botbot.me/freenode/hoaproject/2015-11-05/?msg=53486971&page=1

[2015-11-05 06:51] #21 closed

[2015-11-05 06:51] Hywan commented on #21
@osaris Thanks for the reminder!

[2015-11-09 08:01] Hywan commented on #16
Announce: https://twitter.com/hoaproject/status/663624587045900289.

[2015-11-16 08:24] Hywan commented on #13
@osaris ping?

[2015-11-16 08:24] Hywan commented on #3
@Pierozi ping?

[2015-11-16 08:25] Hywan commented on #12
@K-Phoen Did you got time to check a little bit?

[2015-11-16 08:27] Hywan commented on #9
Maybe we have to decide now because of #11. @Pierozi: Did you get time to check a little bit AWS? Feedback from @Savageman is interesting.

[2015-11-16 08:28] Hywan commented on #4
@Pierozi ping?

[2015-11-16 13:00] osaris commented on #13
I've started configuring dolibarr but I'm still waiting an answer to my email to @Pierozi about SMTP/sendmail configuration because dolibarr needs to send emails.

[2015-11-25 13:37] Pierozi commented on #9
Amazon have more than hundred services, so the question about what is possible to do is not really the issue. Now each top cloud provider like Azure or Google had time to catch up Aws.

But i think aws are still the more advanced system, i have servers on Aws and Google, and aws is best, however i don't know about Azure.

The point is we don't need hundred services, maybe one day we may use auto s

[2015-11-25 14:27] osaris commented on #9
@Pierozi thanks for the feedback, the price is ok for me.

[2015-11-25 14:27] Hywan commented on #9
### Conclusion

We go for AWS.

[2015-11-25 14:27] #9 closed

[2015-11-25 14:31] Hywan commented on #11
I would like to use Ansible. Is everyone ok? /cc @hoaproject/hoackers

[2015-11-25 14:31] Hywan commented on #11
@Pierozi Do you need a repository to write the scripts?

[2015-11-25 16:07] Grummfy commented on #9
for information for @Pierozi (because your have moe the habiit of google cloud) : https://medium.com/google-cloud/aws-to-google-cloud-platform-service-mapping-5a1689d41f01

[2015-11-25 23:23] Pierozi commented on #11
@Hywan Ansible seems bit `light` for advanced thing but Ansible can run bash script for hardest part.
so, it's good for me.

[2015-11-25 23:25] Hywan commented on #11
Good.

[2015-11-25 23:28] Pierozi opened #22 "Aws Account"
This card are for goal to have an Aws dedicated account for Hoa Organisation.

- [ ] Create an master dedicated account
- [ ] Create user for each system administrators
- [ ] Settings IAM & Roles for Server Mail / DB
- [ ] Settings IAM & Roles for Server Web & PHP

[2015-11-25 23:31] Pierozi commented on #7
It was useless to restore an full email services on server under Arm archi. now we have sorted the new server provider will go ahead asap.

[2015-11-25 23:31] Hywan commented on #22
Will start tomorrow.

[2015-11-25 23:33] Pierozi commented on #13
It's stuck by #7

But like the mail sending are limited to dolibar, I think we can put any SMTP account for do the job.
create a quick mailbox on gandi, gmail, or anywhere and use it.

[2015-11-26 07:47] Hywan commented on #13
@osaris Use your GMail account if necessary and if it is temporary.

[2015-11-26 08:18] Hywan commented on #22
:white_check_mark: Master account.

[2015-11-26 08:29] jubianchi commented on #11
the problem I see with running bash in a provisioner is it creates a toght coupling between the provision and the machine (its OS).

What happens if you don't have bash ?
What happens if two machine gets shipped with a different version of the tools (grep, sed, ...) and you rely on them in your provision ?

[2015-11-26 08:43] Hywan commented on #22
:white_check_mark: Create users.

[2015-11-26 08:43] Hywan commented on #22
:white_check_mark: Create groups.

[2015-11-26 09:08] Hywan commented on #22
:white_check_mark: I just sent to you (@Pierozi, @osaris and @CircleCode) your credentials.

[2015-11-26 11:11] osaris commented on #22
@Hywan nothing received ?

[2015-11-26 12:05] Hywan commented on #11
@jubianchi What alternatives do you propose?

[2015-11-26 12:08] Hywan commented on #22
@osaris Sent on `r***@s*-g***.fr`.

[2015-11-26 12:27] Hywan commented on #11
@jubianchi Would you like to be part of the @hoaproject/infrastructure team?

[2015-11-26 12:38] Hywan commented on #11
I have created the `Infrastructure.git` repository: http://git.hoa-project.net/Infrastructure.git/ (as usual with mirrors on https://github.com/hoaproject/Infrastructure and https://pikacode.com/hoaproject/Infrastructure/). This is a public directory, because it's important, but take care of the security!

[2015-11-26 12:45] jubianchi commented on #11
@Hywan I don't know if I'll have time to help much here but I'll follow the issues and try to give me POV ;)

Here, instead of trying to work with machines, I would rather try to build a container infrastructure which is really easy to maintain and do not require complex provisionner.

Such infrastructures are light and allows quick scale. Moreover, booting service is a matter of seconds once we h

[2015-11-27 20:31] osaris commented on #13
@Hywan done, it works. Configuration is done for me.

What is the next step ?  We need a join workflow and then we'll send a mail to all prospects to let them know they can join the foundation ?

[2015-11-30 06:58] Hywan commented on #13
Next steps are the following:
1. Having the whole infrastructure automated and running,
2. Having mail restored,
3. Having mailing-lists restored,
4. Being able to contact everyone in the foundation to create the bank account (I received the paper but I can't join CircleCode :-(),
5. Create the bank account,
6. Start foundation participations.

It looks like crazy but this is the next steps from m

[2015-11-30 06:58] #13 closed

[2015-12-03 10:20] thehawk970 commented on #13
Hywan we talk about 3/4 mail (important) the board of the foundation, you can probably do an alias in gandi dashboard and you can communication with it ;-) people get the alias and don't care about the architecture :p (and in gmail you can send email with this alias).

Cheers

[2015-12-04 07:26] Hywan commented on #13
@osaris, @camael24: What kind of email addresses do we need then? Only for the foundation at first?

[2015-12-04 07:45] osaris commented on #13
@camael24 @Hywan make sense, that would allow us to move forward with foundation and make a lot of :moneybag:

[2015-12-04 08:37] Hywan commented on #13
@osaris What email addresses do we need?

[2015-12-04 09:48] osaris commented on #13
@Hywan one for each member of the board and maybe a redirection for foundation@hoa-project.net ?

[2015-12-04 15:42] thehawk970 commented on #13
@osaris +1 i think to president@, tresorier@, secretaire@ , but just foundation make sense i don't know if you receive lots of mail and so only one adresse make sense to start :)

[2015-12-04 15:48] Hywan commented on #13
@osaris foundation@ redirects to what address?

[2015-12-04 15:49] Hywan commented on #13
Actually foundation@ redirects to my email.

[2015-12-04 15:52] Hywan commented on #13
- :white_check_mark: raphael.emourgeon@hoa is created (cc @osaris),
- :white_check_mark: matthieu.codron@hoa has been created (cc @CircleCode),
- :white_check_mark: ivan.enderlin@hoa was already created.

Next?

[2015-12-11 07:48] Hywan commented on #22
@osaris Is it OK now?

[2015-12-11 07:51] osaris commented on #22
Yes !

2015-12-11 8:48 GMT+01:00 Ivan Enderlin notifications@github.com:

[2016-02-01 22:20] Jir4 commented on #17
Take a look at http://pandoc.org to convert markdown into html.

[2016-02-02 07:59] Hywan commented on #17
I was not thinking about compiling them to HTML once. I prefer to do this on-the-fly, like we already do for XYL to HTML. We can probably use http://commonmark.thephpleague.com/ if it supports Github flavors.

[2016-02-02 07:59] Hywan commented on #17
Else, we can check http://parsedown.org/.

[2016-02-02 08:41] Hywan opened #23 "Virtual meeting 2016-02-01"
https://lite6.framapad.org/p/hoaproject_meeting_20160201

### Milestones

The following milestones have been closed:
* [2015 October (mid)](https://github.com/hoaproject/ActionBoard/issues?q=milestone%3A%222015+October+%28mid%29%22),
* [2015 October (end)](https://github.com/hoaproject/ActionBoard/issues?q=milestone%3A%222015+October+%28end%29%22),
* [2015 December (end)](https://github.com/hoapro

[2016-02-02 08:59] osaris commented on #14
FYI, documents have been transmitted to the bank 2 weeks ago, we are waiting for their feedback.

[2016-02-02 09:11] Hywan commented on #14
@osaris Excellent :-).

[2016-02-24 10:10] Metalaka commented on #8
@Hywan Can be useful to send Virtual meeting reminder

[2016-02-24 10:11] Hywan commented on #8
@Metalaka Yup, but it depends on #11.

[2016-03-03 21:54] osaris commented on #14
I have pinged my contact at the bank because I have no news and I assume you neither ?

[2016-03-04 15:14] #23 closed

[2016-03-07 16:14] osaris opened #24 "Virtual meeting 2016-03-03"
https://lite6.framapad.org/p/hoaproject_meeting_20160303

People present to the meeting (https://meet.jit.si/hoaproject)

* Ashgenesis
* Raphael
* Thehawk (Julien)
* Metalaka

Regarding source code, we continue to work on existing issues, such as:
* Migrating test suites,
* Writing more documentations,
* Having around 15/20 in progress issues in https://waffle.io/hoaproject/central.

Regarding the

[2016-03-07 18:35] Hywan commented on #24
Thanks for the report! We must define task for every person. Please @osaris, @camael24, @Metalaka, @vonglasow, @maitrepylos, create yours corresponding issue :-).

[2016-05-09 21:46] osaris commented on #14
Just sayin' https://number26.eu

[2016-05-10 07:37] Hywan commented on #14
https://twitter.com/mnt_io/status/729937322154799104 waiting for feedbacks

[2016-05-16 19:56] osaris commented on #14
So, as discussed at the today's hoa virtual meeting, we go with number26.eu to tackle this issue ! Stay tuned.

[2016-05-16 20:01] Grummfy opened #25 "Virtual meeting 2016-05-16"
Hoa virtual meeting : 2016-05-16

Ordre du jour :

- Alexis : communication
- Grummfy : Hoapex
- Ivan : Statut sur Hoa (tout projet confondu)
- Raphaël : compte bancaire
- Ivan : 2 millions downloads

TODO

- Ivan : ajout grummfy en contact github pour recevoir les notifications team
- ? : installation closure pour facilité la communication
- Grummfy  : contact maitrepylos pour hoapex
- Ivan : déb

[2016-05-17 09:27] Hywan commented on #25
Thanks for the report!

[2016-05-17 21:21] osaris commented on #14
For France :

For Switzerland :

Wait & see !

[2016-05-18 07:45] Hywan commented on #14
OK, so wait and see for France. Thank you very much!

[2016-06-08 11:59] vonglasow commented on #17
Even, if it's obvious for a large part of us, I think a part regarding bug reporting can be useful. I have made a test in this first [template version of README.](https://github.com/vonglasow/test/blob/template-readme/README.md)

See also discussion about sections here https://github.com/hoaproject/Central/issues/19

[2016-06-15 10:58] vonglasow commented on #17
@hoaproject/hoackers can we start with this version of template to align all README with it, or do you see any improvement.

I think it's not needed to have some section everywhere. like awecode section

[2016-06-17 14:04] Hywan commented on #17
I would ask a feedback from @CircleCode before starting it.

[2016-06-18 07:58] osaris commented on #14
Received yesterday by email :

[2016-06-20 07:48] Hywan commented on #14
Crazy. Thanks for the feedback.

[2016-07-21 13:26] osaris commented on #14
Received today by email :

[2016-07-29 13:01] Jir4 commented on #14
I'm waiting too ^^

[2016-08-11 08:42] Hywan opened #26 "Virtual meeting 2016-08-10"
## Agenda

  1. @Hywan: Numbers and news,
  2. @Grummfy: Hoa Apex 4th edition,
  3. @osaris: Bank account,
  4. @Hywan: Discourse,
  5. @Pierozi: Infrastructure,
  6. @vonglasow: PHP 7.1,
  7. @vonglasow: New flyers for Hoa, designed by BrandBrothers,
  8. @Hywan: New fashion is to blame dependencies.

## Meeting

### Numbers and news

We record 2,650,816 installations on Packagist.
We record 1732

[2016-08-12 06:58] Grummfy commented on #26
me : give feedback for hoapex and what we decide at start of september

[2016-08-12 07:05] Hywan commented on #26
Me:
- [x] Configure Discourse,
- [ ] Publish a blog post about Discourse,
- [x] Replace comments by Discourse,
- [ ] Review and merge all PR about PHP 7.1,
- [ ] Start the move to Travis.

[2016-08-12 11:36] osaris commented on #26
Me:
- continue (finish ?) the `Hoa\Test` documentation translation to french

[2016-08-12 13:35] Pierozi commented on #26
Me:
- Write Issues on `Hoa\Infrastructure` for resume situation and plane next move
- Write list of services we want migrate from `Scaleway`
- Help to configure discourse ?

[2016-08-12 16:00] vonglasow commented on #26
Me:
- Fix all PR assigned to me.
- See for flyers
- Review documentation translation `Hoa\Test`

[2016-08-15 07:23] Hywan commented on #26
Thanks for your goals!

[2016-11-09 07:35] Hywan commented on #14
Go go go!

To be frank, I have almost forget this topic :-p.

[2016-11-29 22:04] osaris commented on #14
Email to open the N26 account received today, I'll finalize the process in the following days so we have a Mastercard for free. Stay tuned !

[2016-12-01 20:25] Hywan commented on #14
🎉

[2016-12-08 08:23] osaris commented on #14
All done, I'll receive the mastercard in the next 2 weeks. We have a bank account (at my name...).

[2016-12-08 09:03] Hywan commented on #14
🤑 🤑 💸 💰 💵 💰 💸 🤑 🤑

MAKE CONTRIBUTORS PAY!